body {
  animation: 1s linear infinite stars;
  background-color: $black;
  background-position: -9999px -9999px;
  background-repeat: no-repeat;
  background-size: starsSizes($starsAmount, $starsBackgroundSize);
  // Cursor is the sword from The Legend of Zelda.
  cursor: url('../img/cursor0.png') 8 0, auto;
  overflow-x: hidden;
}
// Cursor is different on clickable elements.
a, button, input, label, [type="button"], [type="reset"], [type="submit"] {
  &:not(:disabled) {
    cursor: url('../img/cursor1.png') 8 0, pointer;
  }
}
@keyframes stars {
  0%, 24.99% {
    @include stars($starsAmount);
  }
  25%, 49.99% {
    @include stars($starsAmount);
  }
  50%, 74.99% {
    @include stars($starsAmount);
  }
  75%, 99.99% {
    @include stars($starsAmount);
  }
}

// Blink HTML tag polyfill.
.blink {
  animation: 2s linear infinite blink;
}
@keyframes blink {
  0%, 50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

// Marquee HTML tag polyfill.
.marquee {
  display: block;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: 100%;
  .marquee-item {
    animation: 10s linear infinite marquee;
    display: inline-block;
    margin-left: 100%;
    margin-right: 100%;
    &.marquee-fire {
      padding-right: $marquee-fire0-width;
      position: relative;
      &::before {
        content: '';
        animation: 0.2s step-end infinite marqueeFire;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
@keyframes marquee {
  0% {
    margin-left: 100%;
    margin-right: -100%;
  }
 	100% {
    margin-left: -100%;
    margin-right: 100%;
  }
}
// Fire sprites added to marquee to enhance moving effect.
// Sprites come from airships in Super Mario Bros. 3
@keyframes marqueeFire {
  0% {
    @include sprite($marquee-fire0);
  }
  50% {
    @include sprite($marquee-fire1);
  }
}

// "Randomizes" color and background-color on an element.
.text-colory {
  animation: 5s linear infinite textColory;
}
@keyframes textColory {
  0%, 100% {
    background-color: #FFFFFF;
    color: #000000;
    @include textBorder(#FF0000, 2px);
  }
  12.5% {
    background-color: #000000;
    color: #FF0000;
    @include textBorder(#FFFF00, 2px);
  }
  25% {
    background-color: #FF0000;
    color: #FFFF00;
    @include textBorder(#00FF00, 2px);
  }
  37.5% {
    background-color: #FFFF00;
    color: #00FF00;
    @include textBorder(#00FFFF, 2px);
  }
  50% {
    background-color: #00FF00;
    color: #00FFFF;
    @include textBorder(#0000FF, 2px);
  }
  62.5% {
    background-color: #00FFFF;
    color: #0000FF;
    @include textBorder(#FF00FF, 2px);
  }
  75% {
    background-color: #0000FF;
    color: #FF00FF;
    @include textBorder(#FFFFFF, 2px);
  }
  87.5% {
    background-color: #FF00FF;
    color: #FFFFFF;
    @include textBorder(#000000, 2px);
  }
}

// Inpired from meto stickers on various products found in physical shops.
.label-meto {
  @extend .d-inline-block;
  @extend .p-2;
  background-color: $white;
  color: $gray-600;
  font-size: $font-size-lg;
  position: relative;
  z-index: 2;
  &, & > * {
    @extend .d-inline;
  }
  &::before {
    content: '';
    background-color: $white;
    border-radius: 50%;
    height: 100%;
    left: -5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 10px);
    z-index: -1;
  }
}

hr {
  border: 1px solid $white;
  margin: 0;
}

// Table HTML tag visual polyfill.
.table-border {
  border: 5px ridge $gray-500;
  padding-bottom: 5px;
  padding-top: 5px;
}

// Square for product variants implying a texture or a color. Background is added inline.
.product-variant {
  position: relative;
  .square-variant {
    height: 15px;
    left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
  }
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.line-through {
  text-decoration: line-through;
}
