// Background size of the stars, returned as a value for the background-size property.
// Was initially used in variables in the theme.
@function starsSizes($starsAmount, $starsBackgroundSize) {
  $starsSizes: 'null';
  @for $star from 1 through $starsAmount {
    @if $star == $starsAmount {
      $starsSizes: $starsSizes + ($starsBackgroundSize)+px ($starsBackgroundSize)+px;
    }
    @else if $starsSizes == 'null' {
      $starsSizes: ($starsBackgroundSize)+px ($starsBackgroundSize)+px + ',';
    }
    @else {
      $starsSizes: $starsSizes + ($starsBackgroundSize)+px ($starsBackgroundSize)+px + ',';
    }
  }
  @return $starsSizes;
}
