// Stars "images" generation in the background.
@mixin stars($starsAmount) {
  $starsImages: 'null';
  @for $star from 1 through $starsAmount {
    $starWidth: random($starsAmount);
    @if $star == $starsAmount {
      $starsImages: $starsImages + (radial-gradient($white, transparent ($starWidth+px), transparent (($starWidth+1)+px)));
    }
    @else if $starsImages == 'null' {
      $starsImages: (radial-gradient($white, transparent ($starWidth+px), transparent (($starWidth+1)+px))) + ',';
    }
    @else {
      $starsImages: $starsImages + (radial-gradient($white, transparent ($starWidth+px), transparent (($starWidth+1)+px))) + ',';
    }
  }
  background-image: $starsImages;
}

// Initial stars positioning in the background.
@mixin starsPosition($starsAmount) {
  $starsPositions: 'null';
  @for $star from 1 through $starsAmount {
    $x: random(320)+px;
    $y: random(320)+px;
    @if $star == $starsAmount {
      $starsPositions: $starsPositions + $x $y;
    }
    @else if $starsPositions == 'null' {
      $starsPositions: $x $y + ',';
    }
    @else {
      $starsPositions: $starsPositions + $x $y + ',';
    }
  }
  background-position: $starsPositions;
}

// text-stroke doesn't work everywhere.
@mixin textBorder($color, $width) {
  text-shadow: (-$width) 0 $color, 0 $width $color, $width 0 $color, 0 (-$width) $color;
}
