$body-bg: #000000;
$body-color: #FFFFFF;

$font-family-monospace: 'VCROSDMONO', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-monospace;

$primary: #BC1900;
$secondary: #F7B400;
$success: #00FF00;
$info: #00FFFF;
$warning: #FFFF00;
$danger: #FF0000;

$border-radius: 0;
$navbar-padding-y: 0;
$list-group-bg: transparent;

$breadcrumb-bg: transparent;
$breadcrumb-divider-color: #FFFFFF;
$breadcrumb-active-color: #FFFFFF;
$breadcrumb-divider: quote('>');

$starsAmount: 10;
$starsBackgroundSize: 320;
