.homeslider-container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.homeslider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.homeslider li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.homeslider img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}

.homeslider_nav {
  position: absolute;
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../homeslider.png") no-repeat left top;
  margin-top: -45px;
}

.homeslider_nav:active {
  opacity: 1.0;
}

.homeslider_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
