// The easter egg enables a party mode with animations to surprise the users.
body.easter {
  animation: 1s linear infinite starsMoving;
  // The cursor is now a lightsaber holded by Luke Skywalker.
  cursor: url('../img/cursorEaster.png') 0 0, auto;
  &::before {
    content: '';
    // Rave party mode that adds blinking colors on the page.
    animation: 3s linear infinite backgroundColors;
    height: 100%;
    opacity: 0.25;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  & > .container {
    // Main container moves from left to right because it likes to dance.
    animation: 1s linear infinite bodyMoving;
  }
  .animated-logo {
    // The logo zooms in and out, we don't know why.
    animation: 2s linear infinite logoMoving;
    position: fixed;
    top: 50vh;
    z-index: 3;
  }
  .header-nav {
    // Dancing penguins from the Pinball NES game are added in the navbar.
    position: relative;
    & > *:nth-child(1), & > *:nth-child(2), & > *:nth-child(3) {
      position: static;
      &::before {
        content: '';
        image-rendering: crisp-edges;
        position: absolute;
        @include media-breakpoint-down(md) {
          top: calc(100% -(#{$penguin-middle0-height} * 2));
        }
        @include media-breakpoint-up(lg) {
          bottom: 10px;
        }
        transform: scale(2, 2);
      }
    }
    & > *:nth-child(1)::before {
      animation: 1s linear infinite penguinLeftDancing;
      @include media-breakpoint-down(md) {
        right: 5px;
      }
      @include media-breakpoint-up(lg) {
        left: 5px;
      }
    }
    & > *:nth-child(2)::before {
      animation: 1s linear infinite penguinMiddleDancing;
      @include media-breakpoint-down(md) {
        right: 5px + ($penguin-left0-width * 2) + 5px;
      }
      @include media-breakpoint-up(lg) {
        left: 5px + ($penguin-left0-width * 2) + 5px;
      }
    }
    & > *:nth-child(3)::before {
      animation: 1s linear infinite penguinRightDancing;
      @include media-breakpoint-down(md) {
        right: 5px + ($penguin-left0-width * 2) + 5px + ($penguin-middle1-width * 2) + 5px;
      }
      @include media-breakpoint-up(lg) {
        left: 5px + ($penguin-left0-width * 2) + 5px + ($penguin-middle1-width * 2) + 5px;
      }
    }
  }
  .h1, .h2, .h3, .h4, .h5, .h6 {
    // Coins from Super Mario Bros. are added on both sides of headers, because it's an e-commerce website after all.
    &.text-center, a {
      position: relative;
      &::before, &::after {
        content: '';
        animation: 1s linear infinite headingsDecoring;
        image-rendering: crisp-edges;
        position: absolute;
        top: 50%;
        transform: scale(2, 2) translateY(-50%);
      }
      &::before {
        left: -($coin0-width) * 2;
      }
      &::after {
        right: -($coin0-width) * 2;
      }
    }
  }
  .list-styled li:not(.list-inline-item)::before {
    // The hands from vertical lists spin themselves round like records.
    animation: 1s linear infinite listMoving;
  }
  .text-colory {
    // Text colory doesn't show anymore, because it doesn't like to party.
    animation: none;
  }
  .table-border {
    // Table borders changes their colors.
    animation: 3s linear infinite tableBorderColor;
  }
}

@keyframes starsMoving {
  0%, 100% {
    @include stars($starsAmount);
    @include starsPosition($starsAmount);
  }
  25% {
    @include stars($starsAmount);
    @include starsPosition($starsAmount);
  }
  50% {
    @include stars($starsAmount);
    @include starsPosition($starsAmount);
  }
  75% {
    @include stars($starsAmount);
    @include starsPosition($starsAmount);
  }
}
@keyframes backgroundColors {
  0% {
    background-color: #FF0000;
  }
  33% {
    background-color: #00FF00;
  }
  66% {
    background-color: #0000FF;
  }
}
@keyframes bodyMoving {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes logoMoving {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2, 2);
  }
}
@keyframes penguinLeftDancing {
  0%, 49.9%, 100% {
    @include sprite($penguin-left0);
  }
  50%, 99.9% {
    @include sprite($penguin-left1);
  }
}
@keyframes penguinMiddleDancing {
  0%, 49.9%, 100% {
    @include sprite($penguin-middle0);
  }
  50%, 99.9% {
    @include sprite($penguin-middle1);
  }
}
@keyframes penguinRightDancing {
  0%, 49.9%, 100% {
    @include sprite($penguin-right0);
  }
  50%, 99.9% {
    @include sprite($penguin-right1);
  }
}
@keyframes headingsDecoring {
  0%, 24.9%, 100% {
    @include sprite($coin0);
  }
  25%, 49.9% {
    @include sprite($coin1);
  }
  50%, 74.9% {
    @include sprite($coin2);
  }
  75%, 99.9% {
    @include sprite($coin1);
  }
}
@keyframes listMoving {
  0%, 100% {
    transform: rotate(-180deg);
  }
  99.9% {
    transform: rotate(180deg);
  }
}
@keyframes tableBorderColor {
  0% {
    border-color: #FFFF00;
  }
  33% {
    border-color: #00FFFF;
  }
  66% {
    border-color: #FF00FF;
  }
}
