// Keywords from the Audaceweb SEO module are useless for users, so they are badly hidden.
#adcwb-seo {
  color: $black;
}
// Customer counter design is inspired from visitors counters that were popular on old websites.
// Green is used in the Matrix movies to represent random numbers and characters on screen.
#adcwb-customerscounter {
  .customers {
    background-color: $black;
    color: #00FF00;
  }
}

// "HTML5 validity" and "Download Firefox" buttons are included, to show visitors that the website respect standards
// and encourages them to download another browser than Internet Explorer. Those buttons were popular in the past.
.copyright {
  position: relative;
  a.logofooter {
    &, &:hover, &:active, &:focus {
      color: transparent;
      position: absolute;
      &.htmlvalid {
        @include sprite($valid-html50);
        left: calc(100% + 10px);
      }
      &.firefox {
        @include sprite($firefox);
        right: calc(100% + 10px);
      }
      @include media-breakpoint-down(sm) {
        &.htmlvalid, &.firefox {
          bottom: calc(100% + 10px);
        }
        &.htmlvalid {
          left: 0;
        }
        &.firefox {
          right: 0;
        }
      }
    }
  }
}
