// Logo effects are inspired from the title screen of the Soccer NES game.
.animated-logo {
  font-size: 32px;
  @include media-breakpoint-up(sm) {
    font-size: 48px;
  }
  @include media-breakpoint-up(md) {
    font-size: 72px;
  }
  position: relative;
  .highlight {
    color: $secondary;
    @include textBorder($primary, 2px);
  }
  &, &:hover, &:active, &:focus {
    color: $primary;
    text-decoration: none;
    @include textBorder($white, 2px);
  }
  &::before, &::after {
    content: '';
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &::before {
    background-image: linear-gradient(
      #18E2E5 0px, #18E2E5 2px,
      #0000A0 2px, #0000A0 8px,
      #BC1900 8px, #BC1900 10px,
      #F7B400 10px, #F7B400 16px
    );
    top: -16px;
  }
  &::after {
    background-image: linear-gradient(to top,
      #18E2E5 0px, #18E2E5 2px,
      #0000A0 2px, #0000A0 8px,
      #BC1900 8px, #BC1900 10px,
      #F7B400 10px, #F7B400 16px
    );
    bottom: -16px;
  }
}

.banner {
  span {
    background-color: $primary;
    border: 5px ridge $secondary;
    color: $secondary;
    @include media-breakpoint-up(sm) {
      font-size: 24px;
    }
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
    text-shadow: 2px 2px $black;
  }
}

.header-nav > * {
  @extend .col-lg-auto;
}
