// Vegetables sprites from the Ice Climbers NES game.
$listInlineSprites: $list-inline1 $list-inline2 $list-inline3 $list-inline4 $list-inline5 $list-inline6 $list-inline7 $list-inline8 $list-inline9 $list-inline10;

.list-styled {
  .list-inline-item:not(:last-child) {
    // Vegetables are put between list-inline elements.
    @extend .mr-0;
    min-height: $list-inline1-height;
    padding-right: $list-inline1-width * 1.5;
    position: relative;
    &::after {
      content: '';
      height: $list-inline1-height;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $list-inline1-width;
    }
    @for $index from 1 through 10 {
      &:nth-child(10n+#{$index})::after {
        @include sprite(nth($listInlineSprites, $index));
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Hand sprite put on vertical lists, edited from this one : https://www.iconfinder.com/search/?q=pointer
    li:not(.list-inline-item) {
      list-style-type: none;
      min-height: $list-bullet-height;
      position: relative;
      &::before {
        content: '';
        @include sprite($list-bullet);
        animation: 0.5s linear infinite listBullet;
        left: -($list-bullet-width);
        position: absolute;
        top: .5rem;
      }
    }
  }
}
// Hand sprite is moving horizontally, like the hands found in old games to point menu elements.
@keyframes listBullet {
  0%, 100% {
    left: -($list-bullet-width);
  }
  50% {
    left: -($list-bullet-width + $list-bullet-width / 2.5);
  }
}
