// Burger menu is shown on phones.
@include media-breakpoint-down(md) {
  .navbar {
    background-color: $black;
    bottom: 0;
    left: 0;
    min-height: 50px;
    position: fixed;
    right: 0;
    z-index: $zindex-fixed;
  }
  .navbar-toggler-icon {
    @include sprite($menu-burger);
    background-size: auto;
  }
}
